* {
  box-sizing: border-box;

}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navBarUl {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.navHeader {
  display: flex;
  justify-content: center;
  width: 100%;
}

ul {
  display: flex;
  flex-direction: row;
}

li {
  list-style-type: none;
  background-color: #e3dcdc;
  border: 1px solid white;
  border-radius: 8px;
  padding: 7px;
  width: 200px;
}

.individualPosts {
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
  color: #5a5a5a;





}